@model VoiceRecognition.Models.VoiceSearchViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>

}

<!-- Banner Section Start -->
<section class="banner">
    <div class="banner-wrapper">
        <div class="inner-banner owl-carousel owl-theme">
            <img class="owl-lazy" src="~/images/main-slider/air1.jpg" />
            <img class="owl-lazy" src="~/images/main-slider/air4.jpg" />
            <img class="owl-lazy" src="~/images/main-slider/air5.jpg" />
        </div>
    </div>
    <div class="search-tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabs-wrapper tabs-box">
                        <!--Tab Btns-->
                        <ul class="tabs tab-buttons clearfix">
                            <li data-tab="#tab1" class="tab-btn active-btn">Flights</li>
                            @*<li data-tab="#tab2" class="tab-btn">Hotels</li>
                                <li data-tab="#tab3" class="tab-btn">Packages</li>
                                <li data-tab="#tab4" class="tab-btn">Tranports</li>*@
                        </ul>
                        <div class="tab-container">
                            <!-- Tab Item -->
                            <div class="tab-content active-tab" id="tab1">
                                <div class="content">
                                    <!-- Inner Tab Start -->
                                    <div class="itabs-wrapper itabs-box">
                                        <!--Tab Btns-->
                                        <ul class="itabs itab-buttons clearfix">
                                            <li data-tab="#itab1" class="itab-btn active-ibtn">One Way</li>
                                            @*<li data-tab="#itab2" class="itab-btn">Round Trip</li>
                                                <li data-tab="#itab3" class="itab-btn">Multi City</li>*@
                                        </ul>
                                        <div class="itab-container">
                                            <!-- One Way Tab Item  ACTIVE ACTIVE ACTIVE ACTIVE-->
                                            <div class="itab-content active-itab" id="itab1">
                                                <div class="icontent">
                                                    <div class="one-way">
                                                        <form id="FlightSearchForm" method="post" action="@Url.Action("FlightSearch","Home")">
                                                            <div class="form-row">
                                                                <div class="form-group col-md-4">
                                                                    @*<select class="form-control">
                                                                            <option selected="">From</option>
                                                                            <option>...</option>
                                                                        </select>*@
                                                                    @Html.DropDownListFor(model => model.FromID, (SelectList)ViewBag.Airports, "From", htmlAttributes: new { @class = "form-control" })
                                                                    @Html.ValidationMessageFor(model => model.FromID, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    @Html.DropDownListFor(model => model.ToID, (SelectList)ViewBag.Airports, "To", htmlAttributes: new { @class = "form-control" })
                                                                    @Html.ValidationMessageFor(model => model.ToID, "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    @Html.TextBoxFor(model => model.Date,null, new { @id = "Date", @class = "form-control", @type = "Date" })
                                                                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                                                    @*<input placeholder="Depart" name="Date" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">*@
                                                                </div>
                                                                <!--<div class="form-group col-md-4">
                                                                <a href="javascript:void(0)" class="travelers">Travelers, Economy</a>
                                                                <div class="travelers-counter">-->
                                                                <!-- Adults Counter -->
                                                                <!--<div class="inner-counter">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <p>Adults (12+) </p>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class='main-counter text-right'>
                                                                                <a class='cbtn cbtn1 down_count1' title='Down'><i class='fa fa-minus'></i></a>
                                                                                <input class='counter counter1' type="text" placeholder="value..." value='0' />
                                                                                <a class='cbtn cbtn1 up_count1' title='Up'><i class='fa fa-plus'></i></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>-->
                                                                <!-- Children  Counter -->
                                                                <!--<div class="inner-counter">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <p>Children  (2-11) </p>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class='main-counter text-right'>
                                                                                <a class='cbtn cbtn2 down_count2' title='Down'><i class='fa fa-minus'></i></a>
                                                                                <input class='counter counter2' type="text" placeholder="value..." value='0' />
                                                                                <a class='cbtn cbtn2 up_count2' title='Up'><i class='fa fa-plus'></i></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>-->
                                                                <!-- Infants  Counter -->
                                                                <!--<div class="inner-counter">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <p>Infants (0-2) </p>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class='main-counter text-right'>
                                                                                        <a class='cbtn cbtn3 down_count3' title='Down'><i class='fa fa-minus'></i></a>
                                                                                        <input class='counter counter3' type="text" placeholder="value..." value='0' />
                                                                                        <a class='cbtn cbtn3 up_count3' title='Up'><i class='fa fa-plus'></i></a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="inner-counter">
                                                                            <div class="row">
                                                                                <div class="form-group col-md-12">
                                                                                    <label>Classs</label>
                                                                                    <select class="form-control sld">
                                                                                        <option selected="">Choose...</option>
                                                                                        <option selected="">Economy</option>
                                                                                        <option selected="">Business</option>
                                                                                        <option>...</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>-->
                                                                <!-- Button trigger modal -->

                                                                <div class="form-group col-md-12">
                                                                    <button type="submit" class="col-md-4 btn btn-warning pull-right">
                                                                        Search
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Round Trip Tab Item -->
                                            <!--<div class="itab-content" id="itab2">
                                                <div class="icontent">
                                                    <div class="round-trip">
                                                        <form>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-4">
                                                                    <select id="inputState" class="form-control">
                                                                        <option selected="">From</option>
                                                                        <option>...</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <select id="inputState" class="form-control">
                                                                        <option selected="">To</option>
                                                                        <option>...</option>
                                                                    </select>
                                                                </div>

                                                                <div class="form-group col-md-4">
                                                                    <a href="javascript:void(0)" class="travelers">Travelers, Economy</a>
                                                                    <div class="travelers-counter">-->
                                            <!-- Adults Counter -->
                                            <!--<div class="inner-counter">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Adults (12+) </p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class='main-counter text-right'>
                                                            <a class='cbtn cbtn1 down_count1' title='Down'><i class='fa fa-minus'></i></a>
                                                            <input class='counter counter1' type="text" placeholder="value..." value='0' />
                                                            <a class='cbtn cbtn1 up_count1' title='Up'><i class='fa fa-plus'></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>-->
                                            <!-- Children  Counter -->
                                            <!--<div class="inner-counter">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Children  (2-11) </p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class='main-counter text-right'>
                                                            <a class='cbtn cbtn2 down_count2' title='Down'><i class='fa fa-minus'></i></a>
                                                            <input class='counter counter2' type="text" placeholder="value..." value='0' />
                                                            <a class='cbtn cbtn2 up_count2' title='Up'><i class='fa fa-plus'></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>-->
                                            <!-- Infants  Counter -->
                                            <!--<div class="inner-counter">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <p>Infants (0-2) </p>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class='main-counter text-right'>
                                                                                        <a class='cbtn cbtn3 down_count3' title='Down'><i class='fa fa-minus'></i></a>
                                                                                        <input class='counter counter3' type="text" placeholder="value..." value='0' />
                                                                                        <a class='cbtn cbtn3 up_count3' title='Up'><i class='fa fa-plus'></i></a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="inner-counter">
                                                                            <div class="row">
                                                                                <div class="form-group col-md-12">
                                                                                    <label>Classs</label>
                                                                                    <select class="form-control sld">
                                                                                        <option selected="">Choose...</option>
                                                                                        <option selected="">Economy</option>
                                                                                        <option selected="">Business</option>
                                                                                        <option>...</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <input placeholder="Depart" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <input placeholder="Return" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                    <a href="javascript:void(0)" class="search">Search</a>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>-->
                                            <!-- Multi City Tab Item -->
                                            <!--<div class="itab-content" id="itab3">
                                                <div class="icontent">
                                                    <div class="multi-trip">
                                                        <form>
                                                            <div class="form-row">
                                                                <div class="form-group col-md-3">
                                                                    <select class="form-control">
                                                                        <option selected="">From</option>
                                                                        <option>...</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    <select class="form-control">
                                                                        <option selected="">To</option>
                                                                        <option>...</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    <input placeholder="Depart" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    <a href="javascript:void(0)" class="travelers">Travelers, Economy</a>
                                                                    <div class="travelers-counter">-->
                                            <!-- Adults Counter -->
                                            <!--<div class="inner-counter">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Adults (12+) </p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class='main-counter text-right'>
                                                            <a class='cbtn cbtn1 down_count1' title='Down'><i class='fa fa-minus'></i></a>
                                                            <input class='counter counter1' type="text" placeholder="value..." value='0' />
                                                            <a class='cbtn cbtn1 up_count1' title='Up'><i class='fa fa-plus'></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>-->
                                            <!-- Children  Counter -->
                                            <!--<div class="inner-counter">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Children  (2-11) </p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class='main-counter text-right'>
                                                            <a class='cbtn cbtn2 down_count2' title='Down'><i class='fa fa-minus'></i></a>
                                                            <input class='counter counter2' type="text" placeholder="value..." value='0' />
                                                            <a class='cbtn cbtn2 up_count2' title='Up'><i class='fa fa-plus'></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>-->
                                            <!-- Infants  Counter -->
                                            <!--<div class="inner-counter">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <p>Infants (0-2) </p>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <div class='main-counter text-right'>
                                                                                        <a class='cbtn cbtn3 down_count3' title='Down'><i class='fa fa-minus'></i></a>
                                                                                        <input class='counter counter3' type="text" placeholder="value..." value='0' />
                                                                                        <a class='cbtn cbtn3 up_count3' title='Up'><i class='fa fa-plus'></i></a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="inner-counter">
                                                                            <div class="row">
                                                                                <div class="form-group col-md-12">
                                                                                    <label>Classs</label>
                                                                                    <select class="form-control sld">
                                                                                        <option selected="">Choose...</option>
                                                                                        <option selected="">Economy</option>
                                                                                        <option selected="">Business</option>
                                                                                        <option>...</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group col-md-4">
                                                                    <a href="javascript:void(0)" class="search">Search</a>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="add-remove-btn">
                                                        <a class="add-btn" href="#">Add</a>
                                                        <a class="rmv-btn" href="#">Remove</a>
                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>
                                    </div>
                                    <!-- Inner Tab End -->
                                </div>
                            </div>
                            <!-- Tab Item -->
                            <div class="tab-content" id="tab2">
                                <div class="content">
                                    <div class="hotel">
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <input placeholder="Destination" class="form-control" type="text" id="destination">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    @*<input placeholder="Check In" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">*@
                                                </div>
                                                <div class="form-group col-md-3">
                                                    @*<input placeholder="Check Out" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">*@
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <select class="form-control">
                                                        <option selected="">Nationality</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <select class="form-control">
                                                        <option selected="">Room</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <select class="form-control">
                                                        <option selected="">Adults</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <select class="form-control">
                                                        <option selected="">Children</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <a href="javascript:void(0)" class="search">Search</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Tab Item -->
                            @*<div class="tab-content" id="tab3">
                                    <div class="content">
                                        <div class="Packages">
                                            <form>
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <select class="form-control">
                                                            <option selected="">Country</option>
                                                            <option>...</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <select class="form-control">
                                                            <option selected="">Packages</option>
                                                            <option>...</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <select class="form-control">
                                                            <option selected="">Duration</option>
                                                            <option>...</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <a href="javascript:void(0)" class="search">Search</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content" id="tab4">
                                    <div class="content">
                                        <div class="Packages">
                                            <form>
                                                <div class="form-row">
                                                    <div class="form-group col-md-4">
                                                        <select class="form-control">
                                                            <option selected="">Pick up</option>
                                                            <option>...</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <select class="form-control">
                                                            <option selected="">Drop Off</option>
                                                            <option>...</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <input placeholder="Pick Up Date" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <a href="javascript:void(0)" class="search">Search</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                        <!-------------------------------VOICE SEARCH--------------------->
                        <div class="tab-vsearch">
                            <div id="info" class="col-md-12">
                                <span id="info_start">
                                    Click on the microphone icon and begin speaking...
                                </span>
                                <span id="info_message">
                                    Please, state your depurture location
                                </span>
                                <span id="info_speak_now_Destination" style="display:none">
                                    State your destionation
                                </span>
                                <span id="info_speak_now_Date" style="display:none">
                                    State your depurture date
                                </span>
                                <span id="info_no_speech" style="display:none">
                                    No speech was detected. You may need to adjust your <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
                                        microphone
                                        settings
                                    </a>.
                                </span>
                                <span id="info_no_microphone" style="display:none">
                                    No microphone was found. Ensure that a microphone is installed and that
                                    <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
                                        microphone settings
                                    </a> are configured correctly.
                                </span>
                                <span id="info_allow" style="display:none">
                                    Click the "Allow" button above to enable your microphone.
                                </span>
                                <span id="info_denied" style="display:none">
                                    Permission to use microphone was denied.
                                </span>
                                <span id="info_blocked" style="display:none">
                                    Permission to use microphone is blocked. To change, go to
                                    chrome://settings/contentExceptions#media-stream
                                </span>
                                <span id="info_upgrade" style="display:none">
                                    Web Speech API is not supported by this browser. Upgrade to <a href="//www.google.com/chrome">Chrome</a> version 25 or later.
                                </span>
                            </div>
                            <div class="col-md-12">
                                <div id="div_start" class="col-md-3 pull-right">
                                    <button id="start_button" onclick="startButton(event)">
                                        <img alt="Start" id="start_img"
                                             src="https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif">
                                    </button>
                                </div>
                                <div id="results" class="col-md-9">
                                    <span class="final" id="final_span"></span>
                                    <span class="interim" id="interim_span"></span>
                                </div>
                                <!--LANGUAGE SELECT OPTION-->
                                <div class="compact marquee" id="div_language" style="display:none">
                                    <select id="select_language" onchange="updateCountry()">
                                    </select>&nbsp;&nbsp; <select id="select_dialect">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/js/speechJS.js"></script>

<script>
    $(document).ready(function () {
        startButton(event);
    });

</script>

